<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacken_liu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 在判断设备是否有刘海区域时有用 -->
        <meta-data
            android:name="android.notch.support"
            android:value="true" />

        <activity android:name=".screen_adapter.notch.NotchAdapterActivity"></activity>
        <activity android:name=".event.EventActivity" />
        <activity android:name=".screen_adapter.density.DensityAdapterActivity" />
        <activity android:name=".screen_adapter.percent.PercentAdapterActivity" />
        <activity android:name=".screen_adapter.pixel_adapter.PixelAdapterActivity" />
        <activity android:name=".anim.AnimatorActivity" />
        <activity android:name=".path.PathMeasureActivity" />
        <activity android:name=".path.PathBezierCurveActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".canvas.CanvasPrimaryActivity" />
        <activity android:name=".paint.PaintColorFilterActivity" />
        <activity android:name=".paint.PaintGradientActivity" />
        <activity android:name=".paint.PaintInitActivity" />
        <activity android:name=".path.PathEffectActivity" />
        <activity android:name=".path.PathPrimaryActivity" />
        <activity android:name=".xfermodes.XfermodeActivity" />
        <activity android:name=".xfermodes.XfermodesActivity" />
    </application>

</manifest>